* {
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    background-color: #f4b41a;
    color: #143d59;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.choice {
    height: 165px;
    width: 165px;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}
img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.choices {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:xx-large;
    margin: 3rem;
    gap: 5rem;
}
#msg{
    background-color: #f4b41a;
    color: #143d59;
    font-size: xx-large;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}